* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.detail_container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 120px;
    z-index: 5;
    text-align: center;
    line-height: 100px;
    color: white;
    text-shadow: 2px 2px 2px black;
    user-select: none;
    font-size: 3rem;
}

.detail_container:hover {
    cursor: pointer;
    animation: enlarge 1s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

.disappear {
    pointer-events: none;
    animation: fadeout 2s;
    animation-fill-mode: forwards;
}

.disappear::after {
    display: none;
    opacity: 0;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes enlarge {
    from {
        transform:scale(1);
    }
    to {
        transform:scale(2);
    }
}